@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
</style>

:root {

}

* {
  margin: 0;
  padding: 0;
}

body {
background: url(../img/img1.jpg) no-repeat center center/cover;
color: #826a48;
font-family: 'Poppins', sans-serif;
}

.flex-column .row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #ae8853;
  width: 100%;
  height: 100%;
}

.flex-column .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  flex: 1;
}

.main {
  margin: 20px 0;
  padding: 10px 0;
}

.name {
  text-align: center;
  margin: 20px 0;
}

 /* Navbar */
.flex-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 10px;
}

.flex-logo img {
  background: #cbb874;
  width: 150px;
  height: 150px;
  opacity: 0.5;
  border-radius: 50%;
}

.navbar {
  background: #613323;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  position: fixed;
  height: 30px;
  width: 100vw;
  opacity: 0.9;
  z-index: 1;
}

.navbar nav {
  display: flex;
  position: fixed;
  border-radius: 5px;
  width: 525px;
  z-index: 1;
  opacity: 0.9;
}


.navbar ul {
  list-style: none;
  margin: 10px;
}

.navbar li { 
   display: inline;
   margin-bottom: 0;
}

.navbar ul li a {
  color: #c7b883;
  text-decoration: none;
  font-weight: bold;
  margin: 10px;
  transition: all 0.5s ease-in-out;
}

.navbar ul li a:hover {
  color: #826a48;
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
}

/* Home */
.flex-column .row {
  height: 354px;
}

.flex-column .column1 {
  background: url("../img/img2.jpg") no-repeat center center/cover;
  width: 50vw;
  height: 354px;
}

.flex-column .column2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  height: 100%;
  padding: 15px
}

.flex-column .column2 h1 {
  margin: 40px 10px 30px;
}

.flex-column .column2 h4 {
  margin-top: 20px;
}

.flex-column .column2 p {
  margin-top: 30px;
}

/* About */
.about {
  background: #cbb874;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0.9;
}

.about h2 {
  font-size: 50px;
  line-height: 1.5rem;;
  margin: 50px 0 20px;
}

.about img {
  border-radius: 50%;
  margin: 30px;
}

.about p {
  padding: 10px 500px;
  margin-bottom: 50px;;
}

/* Clients */
.clients {
  background: #ae8853;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0.95;
  padding: 30px;
}

.client-rows {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.client-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
}

.clients-header h4 {
  margin: 15px;
  padding: 10px;
  font-size: 20px;

}

.clients-header h1 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px;
  padding: 10px;
}

.clients-row a {
  text-decoration: none;
  color: #cbb874;
  transition: all 0.5s ease;
}

.clients-row a:hover {
  color: #6c5d4e;
  transition: all 0.5s ease;
}


/* Equipment */
.equipment-flex {
  background: #cbb874;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  text-align: center;
  padding: 50px 0;
  opacity: 0.95;
}

.equipment-flex  i {
  font-size: 50px;
  margin-bottom: 10px;
  padding: 15px;
  background: #9d956c;
  border-radius: 50%;
}

.equipment-flex h3 {
  padding: 5px;
}

/* Project Form */
.project-form {
  display: flex;
  background: #ae8853;
  color: #cbb874;

}

.project-form h2 {
  text-align: center;
  margin: 30px 50px 0;
  padding-bottom: 20px;
  border-bottom: #cbb874 2px dotted;
  width: 500px;
}

.project-info{
  display: block;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin: 10px 10px 0;
  padding: 10px 10px 0;
}

input {
  width: 500px;
  height: 25px;
  border-radius: 5px;
  border: none;
  margin: 20px;
  padding: 10px;
}

textarea {
  width: 500px;
  border-radius: 5px;
  border: none;
  margin: 20px;
  padding: 10px;
}


.btn {
  background: #cbb874;
  cursor: pointer;
  width: 520px;
  margin: 20px;
  padding: 10px 0 20px;
  transition: all 0.5s ease;
}

.btn:hover {
  opacity: 0.5;
  transition: all 0.5s ease;
}

.project-image {
  background: url("../img/img3.jpg") no-repeat center center/cover;
  width: 100vw;
  height: 1200px;
  opacity: 0.7;
}


/* Footer */
.footer {
  background: #9d956c;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0.95;
} 

.footer a {
  color: #cbb874;
  font-size: 30px;
  transition: all 0.5s ease;
}

.footer a:hover {
  color: #ae8853;
  transition: all 0.5s ease;
}

.footer a i{
margin: 10px;
padding: 10px;
}

.footer p {
padding-bottom: 20px;
}